@page "/"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using ISS.Application

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<div style="height:@Height">
    <GoogleMap @ref="@map1" Id="map1" Options="@mapOptions" Height="100%"></GoogleMap>
</div>
<div>
    <table class="CTable" valign="true">
        <thead>
        <tr>
            <th>Timestamps</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button @onclick="testConsole">Item1</button>
            </td>
            <td>
                <button @onclick="testConsole">Item2</button>
            </td>
            <td>
                <button @onclick="testConsole">Item3</button>
            </td>
            <td>
                <button @onclick="testConsole">Item4</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


@functions {
    private GoogleMap map1;
    private MapOptions mapOptions;
    private string Height = "300px";

    protected override void OnInitialized()
    {
        mapOptions = new MapOptions()
        {
            //52.2352496,20.9899155
            Zoom = 13,
            Center = new LatLngLiteral()
            {
                Lat = 52.2352496,
                Lng = 20.9899155
            },
            MapTypeId = MapTypeId.Roadmap
        };
    }

    public void testConsole()
    {
        Console.WriteLine("ButtonTest");
    }





}